body,
html {
  color: #555;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.Menu {
  flex-grow: 1;
  color: #fff;
  background-color: #555;
  display: flex;
  justify-content: center;
}

.notebook {
  flex-grow: 1;
  background-color: #FBFBFB;
}
.note {
  flex-grow: 1;
  padding: 20px;
}

.note textarea {
  width: 100%;
  height: 70%;;
}
