body,
html {
  color: #555;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100vh;
}

.menu {
  flex-grow: 1;
  color: #fff;
  background-color: #555;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.notebook {
  flex-grow: 2;
  background-color: #FBFBFB;
  height: 100vh;
  max-width: 300px;
}

.note {
  flex-grow: 4;
  padding: 20px;
  height: 100vh;
}

.note__textarea {
  width: 100%;
  height: 100%;
  border: none;
}

.note__textarea:focus {
  background-color: yellow;
  border: none;
}

.notePreview {
  padding: 10px;
  border-bottom: 1px solid grey;
}
.notePreview:active {
  background-color: white;
}
